@import "../../variables/Variables.scss";

main, .recommendationContainer, .videosContainer, .videoListContainer {
    @include container();
    align-items: flex-start;
}

/* Videos Container */
.videosContainer {
    flex: 1;
    flex-direction: column;
    margin: 60px 10px 0 300px;

    .searchResultContainer {
        margin: auto;
        .videoListContainer {
            flex-direction: column;
            a {
                .videoContainer {
                    display: flex;
                    width: 80%;
                    height: 200px !important;
                    img {
                        width: 360px;
                        height: 200px;
                    }

                    .videoDetails {
                        flex-direction: column-reverse;
                        justify-content: flex-end;
                        width: 600px;
                    }
                }
            }
        }
    }
}
/* End of Videos Container */

/* Recommendation */
.recommendationContainer, .videoListContainer {
    // border: red dotted 3px;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid $borderLinesColor 5px;

    a {
        margin: auto;
    }
}
/* End of Recommendation */