@import "../../variables/Variables.scss";

main, .recommendationContainer, .videosContainer, .videoListContainer {
    @include container();
    align-items: flex-start;
}

/* Videos Container */
.videosContainer {
    flex: 1;
    flex-direction: column;
    margin: 0 10px;
}
/* End of Videos Container */

/* Recommendation */
.recommendationContainer, .videoListContainer {
    // border: red dotted 3px;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid $borderLinesColor 5px;
}
/* End of Recommendation */