@import "../../variables/Variables.scss";

.settingsSection {
    @include normalFont;
    padding-top: 60px;
    display: flex;
    
   
    .settingsMenu {
        border: red 1px solid;
        width: 300px;
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: start;

        h2 {
            padding-left: 10px;
        }

        a {
            list-style-type: none;
            margin: 10px 0;
            padding-left: 20px;
            font-weight: lighter;
        }
        
    }

    .settingsContainer {
        border: blue 1px solid;
        margin-left: 310px;
        flex: 1;
        
    }
}

// Account
.accountSection, .accountNotifications, .accountPlayback {
    @include normalFont;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: start;

    div {
        margin: 10px 0;
    }

    p, h3 {
        margin: 10px 0;
    }

    p {
        font-size: 14px;
    }

    .bold {
        font-weight: bolder;
    }


    .light {
        font-weight: lighter;
    }

    .blue {
        color: rgb(6, 95, 212);
    }


    .channel {
        border-top: 0.5px solid gray;
        border-bottom: 0.5px solid gray;
    }

    .channel, .account, .general, .emailNotification {
        padding: 20px 0;
        div {
            display: flex;

            input {
                width: 30px;
            }

            .title {
                width: 150px;
            }

            .subDiv {
                margin-left: 30px;
                flex-direction: column;
                .user {
                    text-align: end;
                    padding-right: 20px;
                }
                p {
                    margin: 3px 0;
                }
            }

            .subDivAccount {
                width: 50%;
            }
        }
    }

    .emailNotification {
        .emailNotifToggle {
            justify-content: flex-start !important;
     

            p.title {
                min-width: 150px;
            }

            .subDiv {
                .toggleContainer {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .language {
       .subDiv {
            div {
                display: flex;
                flex-direction: column;
                background-color: rgb(226, 226, 226);
                padding: 10px 200px 10px 20px;
                
                p {
                    font-weight: lighter;
                }

                .emailLang {
                    font-size: 12px;
                }
            }
        
       }
    }
}

// Playback
.accountPlayback {
    padding-top: 10px;
    margin-left: 20px;
    h3 {
        margin: 0;
        font-size: 16px;
    }

    h2 {
        margin: 30px 5px 10px;
        font-weight: normal;
    }
    .settings {
        display: flex;
        margin: 20px 0;
        .bold.title {
            margin-left: 0;
            width: 200px;
        }
        .subDiv {
            margin: 0 50px;
            display: flex;
            input {
                width: 20px !important;
            }
            p {
                margin-left: 30px;
            }
            
            i {
                margin: auto 20px;
                color: gray;
                font-size: 14px;
            }
        }
    }


}