.settingsSection {
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 60px;
  display: flex;
}
.settingsSection .settingsMenu {
  border: red 1px solid;
  width: 300px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.settingsSection .settingsMenu h2 {
  padding-left: 10px;
}
.settingsSection .settingsMenu a {
  list-style-type: none;
  margin: 10px 0;
  padding-left: 20px;
  font-weight: lighter;
}
.settingsSection .settingsContainer {
  border: blue 1px solid;
  margin-left: 310px;
  flex: 1;
}

.accountSection, .accountNotifications {
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.accountSection div, .accountNotifications div {
  margin: 10px 0;
}
.accountSection p, .accountSection h3, .accountNotifications p, .accountNotifications h3 {
  margin: 10px 0;
}
.accountSection p, .accountNotifications p {
  font-size: 14px;
}
.accountSection .bold, .accountNotifications .bold {
  font-weight: bolder;
}
.accountSection .blue, .accountNotifications .blue {
  color: rgb(6, 95, 212);
}
.accountSection .channel, .accountNotifications .channel {
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
.accountSection .channel, .accountSection .account, .accountSection .general, .accountSection .emailNotification, .accountNotifications .channel, .accountNotifications .account, .accountNotifications .general, .accountNotifications .emailNotification {
  padding: 20px 0;
}
.accountSection .channel div, .accountSection .account div, .accountSection .general div, .accountSection .emailNotification div, .accountNotifications .channel div, .accountNotifications .account div, .accountNotifications .general div, .accountNotifications .emailNotification div {
  display: flex;
}
.accountSection .channel div input, .accountSection .account div input, .accountSection .general div input, .accountSection .emailNotification div input, .accountNotifications .channel div input, .accountNotifications .account div input, .accountNotifications .general div input, .accountNotifications .emailNotification div input {
  width: 30px;
}
.accountSection .channel div .title, .accountSection .account div .title, .accountSection .general div .title, .accountSection .emailNotification div .title, .accountNotifications .channel div .title, .accountNotifications .account div .title, .accountNotifications .general div .title, .accountNotifications .emailNotification div .title {
  width: 150px;
}
.accountSection .channel div .subDiv, .accountSection .account div .subDiv, .accountSection .general div .subDiv, .accountSection .emailNotification div .subDiv, .accountNotifications .channel div .subDiv, .accountNotifications .account div .subDiv, .accountNotifications .general div .subDiv, .accountNotifications .emailNotification div .subDiv {
  margin-left: 30px;
  flex-direction: column;
}
.accountSection .channel div .subDiv .user, .accountSection .account div .subDiv .user, .accountSection .general div .subDiv .user, .accountSection .emailNotification div .subDiv .user, .accountNotifications .channel div .subDiv .user, .accountNotifications .account div .subDiv .user, .accountNotifications .general div .subDiv .user, .accountNotifications .emailNotification div .subDiv .user {
  text-align: end;
  padding-right: 20px;
}
.accountSection .channel div .subDiv p, .accountSection .account div .subDiv p, .accountSection .general div .subDiv p, .accountSection .emailNotification div .subDiv p, .accountNotifications .channel div .subDiv p, .accountNotifications .account div .subDiv p, .accountNotifications .general div .subDiv p, .accountNotifications .emailNotification div .subDiv p {
  margin: 3px 0;
}
.accountSection .channel div .subDivAccount, .accountSection .account div .subDivAccount, .accountSection .general div .subDivAccount, .accountSection .emailNotification div .subDivAccount, .accountNotifications .channel div .subDivAccount, .accountNotifications .account div .subDivAccount, .accountNotifications .general div .subDivAccount, .accountNotifications .emailNotification div .subDivAccount {
  width: 50%;
}
.accountSection .emailNotification .emailNotifToggle, .accountNotifications .emailNotification .emailNotifToggle {
  justify-content: flex-start !important;
}
.accountSection .emailNotification .emailNotifToggle p.title, .accountNotifications .emailNotification .emailNotifToggle p.title {
  min-width: 150px;
}
.accountSection .emailNotification .emailNotifToggle .subDiv .toggleContainer, .accountNotifications .emailNotification .emailNotifToggle .subDiv .toggleContainer {
  margin: 0;
  padding: 0;
}
.accountSection .language .subDiv div, .accountNotifications .language .subDiv div {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 10px 200px 10px 20px;
}
.accountSection .language .subDiv div p, .accountNotifications .language .subDiv div p {
  font-weight: lighter;
}
.accountSection .language .subDiv div .emailLang, .accountNotifications .language .subDiv div .emailLang {
  font-size: 12px;
}/*# sourceMappingURL=Styles.css.map */