.showContainer {
  display: flex;
  justify-content: center;
  height: auto;
}
.showContainer .showVideoContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px 0 20px 5rem;
  padding: 20px 1rem 0 0;
  flex: 4;
}
.showContainer .showVideoContainer img {
  max-height: 720px;
}
.showContainer .showVideoContainer .videoDetails h2 {
  text-align: start;
  margin: 0;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .profileIcon {
  margin: 0 10px 0 0;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .videoUploadedBy {
  text-align: start;
  align-self: flex-start;
  margin: 0 24px 0 0;
  width: 50px;
  font-size: 16px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .subscribeButton {
  background-color: black;
  color: white;
  margin: 0 10px;
  padding: 10px;
  border-radius: 20px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-left: auto;
  width: 50%;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer div {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(222, 222, 222);
  border-radius: 20px;
  margin: 0 10px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer i {
  font-size: 25px;
  margin: 0 5px;
  color: rgb(87, 87, 87);
  height: 24px;
  width: 24px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer .likeContainer {
  margin-left: 20px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer .likes {
  margin-right: 5px;
  padding-right: 10px;
  border-right: solid rgb(146, 146, 146) 0.5px;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer .shareContainer {
  display: flex;
  align-items: center;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer .options {
  margin: 0;
  padding: 3px 0;
}
.showContainer .showVideoContainer .videoDetails .videoEngagement .engagementContainer .options i {
  color: black;
}
.showContainer .showVideoContainer .videoDetails .videoMeta {
  display: grid;
  grid-template: 2fr/1fr 1fr 5fr;
  text-align: start;
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
  padding: 10px;
}
.showContainer .showVideoContainer .videoDetails .videoMeta p {
  font-size: 14px;
  margin: 0;
}
.showContainer .showVideoContainer .videoDetails .videoMeta .videoDescription {
  grid-column: span 3;
  font-weight: normal;
  min-height: 50px;
}
.showContainer .showRecommendationDiv {
  padding-top: 20px;
}
.showContainer .showRecommendationDiv .recommendationContainer {
  margin-top: 60px;
  flex-direction: column;
  width: 350px !important;
  overflow: hidden;
  flex: 1;
  border: none;
}
.showContainer .showRecommendationDiv .recommendationContainer a {
  margin: 5px 0;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: auto;
  margin: 0;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer img {
  width: 160px;
  height: 120px;
  margin-right: 10px;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer .videoDetails {
  width: auto;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer .videoDetails div {
  display: none;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer .videoDetails .videoMeta {
  display: block;
  font-size: 12px;
}
.showContainer .showRecommendationDiv .recommendationContainer a .videoContainer .videoDetails .videoMeta .videoTitle {
  font-size: 14px;
  margin-bottom: 10px;
}/*# sourceMappingURL=Styles.css.map */