@import "../../variables/Variables.scss";

.showContainer {
    display: flex;
    height: auto;

    .showVideoContainer {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 60px;
        padding: 50px;
        flex: 4;

        img {
            width: 100%;
        }

        .videoDetails {

            h2 {
                text-align: start;
                margin: 0;
            }

            .videoEngagement {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-top: 10px;

                .videoUploadedBy {
                    text-align: start;
                    align-self: flex-start;
                    margin: 0;
                    width: 20%;
                }

                .subscribeButton {
                    background-color: black;
                    color: white;
                    margin: 0 10px;
                    padding: 10px;
                    border-radius: 20px;
                    
                }

                .engagementContainer {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0;
                    margin-left: auto;
                    width: 50%;
    
                    div {
                        display: flex;
                        flex: row;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 10px;
                        background-color: rgb(205, 205, 205);
                        border-radius: 20px;
                        margin: 0 10px;
                    }


                    i {
                        font-size: 25px;
                        margin: 0 5px;
                        color: rgb(87, 87, 87);
                        height: 24px;
                        width: 24px;
                    }

                    .likeContainer {
                        margin-left: 20px;
                    }

                    .likes {
                        margin-right: 5px;
                        padding-right: 10px;
                        border-right: solid rgb(146, 146, 146) 0.5px;
                    }
    
                    .shareContainer {
                        display: flex;
                        align-items: center;
                    }

                    .options {
                        margin: 0;
                        padding: 3px 0;

                        i {
                            color: black;
                        }
                    }
                }

            }

            .videoMeta {
                display: grid;
                grid-template:  2fr/ 1fr 1fr 5fr;
                text-align: start;

                background-color: rgb(205, 205, 205);
                border-radius: 5px;
                padding: 10px;

                p {
                    margin: 0;
                };

                .videoDescription {
                    grid-column: span 3;
                    font-weight: normal;
                    min-height: 50px;
                }
            }
        }
    }

    .recommendationContainer {
        margin-top: 60px;
        flex-direction: column;
        width: 400px !important;
        overflow: hidden;
        flex: 1;
        a {
            margin: 5px 0;
            .videoContainer {
                display: flex;
                flex-direction: row;
                overflow: hidden;
                height: auto;
                margin: 0;

                img {
                    width: 350px;
                    height: 120px;
                    margin-right: 10px;
                }

                .videoDetails {
                    width: auto;
                    div {
                        display: none;
                    }

                    .videoMeta {
                        display: block;
                        font-size: 12px;

                        .videoTitle {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

